.companyProfile {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: url("../../assets/img/homeShops.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  .banner {
    width: 100%;
    height: 400px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .aboutSection {
    background-color: rgba(128, 3, 9, 0.9);
    display: flex;
    justify-content: center;
    .content {
      width: 1440px;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 78px 0 300px;
      box-sizing: border-box;
      color: #fff;
      .title {
        font-size: 28px;
        margin-bottom: 65px;
        padding-bottom: 30px;
        font-weight: bold;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 40px;
          height: 3px;
          background-color: #fff;
          bottom: -0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .subTitle {
        font-size: 19px;
        line-height: 48px;
        font-weight: bold;
      }
      .text {
        width: 800px;
        font-size: 19px;
        line-height: 48px;
        margin-bottom: 110px;
        text-align: center;
      }
      .detail {
        width: 1100px;
        display: flex;
        justify-content: space-between;
        .left,
        .right {
          width: calc(50% - 36px);
          .infoItem {
            width: 100%;
            height: 50px;
            line-height: 50px;
            border-top: 1px solid #fff;
            font-size: 20px;
            font-weight: 400;
            &:last-child {
              border-bottom: 1px solid #fff;
            }
          }
        }
        .right {
          border-top: 1px solid #fff;
          .infoItem {
            border: none;
          }
          .opcity {
            opacity: 0;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    background-size: auto 100%;
    background-position: center 0;
    .banner {
      width: 100%;
      height: 195px;
      position: relative;
      overflow: hidden;
      img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: -45%;
      }
    }
    .aboutSection {
      .content {
        width: 100%;
        padding: 50px 40px;
        .title {
          font-size: 20px;
          margin-bottom: 20px;
          padding-bottom: 15px;
          &::after {
            width: 30px;
            height: 2px;
          }
        }
        .subTitle {
          text-align: center;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 10px;
        }
        .text {
          text-align: center;
          width: 100%;
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 20px;
        }
        .detail {
          width: 100%;
          height: auto;
          flex-direction: column;
          .left,
          .right {
            width: 100%;
            .infoItem {
              display: flex;
              width: 100%;
              height: auto;
              line-height: 28px;
              font-size: 12px;
              border-top: none;
              border-top: 1px solid #fff;
              padding-left: 15px;
              box-sizing: border-box;
              .infoTitle {
                display: flex;
                flex-shrink: 0;
                width: 72px;
              }
              .infoText {
                display: flex;
              }
              &:last-child {
                border-bottom: none;
                border-bottom: 1px solid #fff;
              }
            }
          }
          .right {
            border-top: none;
            .infoItem {
              border-top: none;
              &:first-child {
                border-top: none;
              }
            }
          }
        }
      }
    }
  }
}
