.shopProfile {
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  .banner {
    width: 100%;
    height: 400px;
    background: url("../../assets/img/shopProfile/banner.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-position: center 0;
  }
  .shopItem {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      width: 1440px;
      padding: 145px 0 105px 0;
      color: #fff;
      .line {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 60px;
        img {
          width: 92px;
          height: 28px;
          z-index: 1;
        }
        &::before {
          content: "";
          position: absolute;
          top: 14px;
          left: 0;
          width: calc(50% - 60px);
          height: 1px;
          background-color: #fff;
        }
        &::after {
          content: "";
          position: absolute;
          top: 14px;
          right: 0;
          width: calc(50% - 60px);
          height: 1px;
          background-color: #fff;
        }
      }
      .shop {
        padding: 0 80px;
        margin: 0 auto;
        box-sizing: border-box;
        .info {
          display: flex;
          flex-direction: column;
          padding-bottom: 15px;
          border-bottom: 1px solid #fff;
          .shopName {
            font-size: 40px;
            line-height: 1;
            font-weight: 700;
            padding-left: 30px;
            margin-bottom: 15px;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: 0;
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background-color: #fff;
              transform: translateY(-50%);
            }
          }
          .time {
            padding-left: 30px;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 15px;
          }
          .text {
            font-size: 25px;
            font-weight: 400;
            line-height: 1;
            padding-left: 30px;
            margin-bottom: 35px;
            .tel {
              margin-left: 100px;
            }
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .img1 {
          margin: 25px 0 35px 0;
          width: 100%;
          height: 440px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .desPro {
          width: 100%;
          padding: 50px 90px;
          margin-bottom: 36px;
          box-sizing: border-box;
          font-size: 24px;
          line-height: 34px;
          color: #fff;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .desPro2 {
            margin-top: 50px;
          }
        }
        .redDes {
          background-color: rgba(128, 3, 9, 1);
        }
        .grayDes {
          background-color: rgba(42, 42, 42, 1);
        }
        .imgs {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .miniImg {
            width: 400px;
            height: 400px;
            margin-bottom: 35px;
          }
          .miniImgMobile {
            display: none;
          }
          .bigImg {
            width: calc(100% - 435px);
            height: 400px;
            margin-bottom: 35px;
          }
        }
        .mapSection {
          display: flex;
          .mapImg {
            width: 835px;
            height: 400px;
            margin-right: 35px;
          }
          .mapInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            .addr,
            .bus {
              display: flex;
              align-items: center;
              margin-bottom: 50px;
              img {
                margin-right: 20px;
              }
              .texts {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .text {
                  font-size: 16px;
                  line-height: 34px;
                  span {
                    opacity: 0;
                  }
                }
              }
            }
            .addr {
              img {
                width: 50px;
                height: 50px;
              }
            }
            .bus {
              img {
                width: 50px;
                height: 50px;
              }
            }
          }
        }
      }
    }
  }
  .red {
    background-color: rgba(128, 3, 9, 0.9);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/img//shopProfile/redBg.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
  .gray {
    background-color: rgba(42, 42, 42, 0.9);
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/img//shopProfile/grayBg.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      z-index: -1;
    }
  }
  .footer {
    background: url("../../assets/img/shopProfile/footer.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  @media (max-width: 767px) {
    .banner {
      height: 195px;
      background: url("../../assets/img/shopProfile/bannerMobile.jpg");
    }
    .shopItem {
      .content {
        width: 100%;
        padding: 60px 25px 0;
        box-sizing: border-box;
        .line {
          margin-bottom: 35px;
          img {
            width: 85px;
          }
        }
        .shop {
          padding: 0;
          .info {
            .shopName {
              font-size: 20px;
              padding-left: 20px;
              &::before {
                width: 8px;
                height: 8px;
              }
            }
            .time {
              padding-left: 20px;
              font-size: 16px;
              line-height: 1;
              margin-bottom: 20px;
            }
            .text {
              display: flex;
              flex-direction: column;
              font-size: 14px;
              line-height: 1;
              padding-left: 20px;
              margin-bottom: 20px;
              .tel {
                margin-left: 0;
                margin-top: 10px;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
          .img1 {
            width: 100%;
            height: 140px;
            margin: 20px 0 20px 0;
          }
          .desPro {
            padding: 20px 15px;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 25px;
            .desPro2 {
              margin-top: 20px;
            }
          }
          .imgs {
            .miniImg {
              width: calc(50% - 10px);
              height: auto;
              margin-bottom: 20px;
            }
            .miniImgMobile {
              display: block;
            }
            .miniImgPc {
              display: none;
            }
            .bigImg {
              width: 100%;
              height: auto;
              margin-bottom: 20px;
            }
          }
          .mapSection {
            flex-direction: column;
            .mapImg {
              width: 100%;
              height: auto;
              margin-right: 0;
              margin-bottom: 20px;
            }
            .mapInfo {
              .addr,
              .bus {
                margin-bottom: 20px;
                img {
                  width: 25px;
                  height: 24px;
                }
                .texts {
                  .text {
                    font-size: 12px;
                    line-height: 24px;
                    span {
                      opacity: 0;
                    }
                  }
                }
              }
              .hasTwo {
                align-items: flex-start;
              }
            }
          }
        }
      }
    }
  }
}
