body,
html {
  margin: 0;
  padding: 0;
  color: #fff;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-thumb {
  background-color: transparent;
}

html:hover::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
