.banner {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  background: url("../../assets/img/banner.png");
  background-repeat: no-repeat;
  .content {
    width: 1440px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
      width: 620px;
      height: 190px;
      margin-bottom: 20px;
    }
    .name {
      font-size: 40px;
      font-weight: 400;
    }
    .btn {
      width: 220px;
      height: 46px;
      font-weight: 400;
      font-size: 18px;
      line-height: 46px;
      margin-top: 100px;
      background-color: #800309;
      border-color: #800309;
      color: #fff;
      &:hover {
        background-color: #800309;
        border-color: #800309;
      }
    }
  }
}
