.banner {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  position: relative;
  .embla {
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .embla__viewport {
      height: 100%;
      overflow: hidden;
      .embla__container {
        width: 100%;
        height: 100%;
        display: flex;
        touch-action: pan-y;
        .embla__slide {
          min-width: 100%;
          position: relative;
          // img {
          //   width: 100%;
          //   height: 100%;
          //   z-index: -1;
          // }
          background-repeat: no-repeat;
          background-size: 100% 100%;
          background-position: center 0;
          &:nth-child(1) {
            background-image: url("../../assets/img/banner/banner1.jpg");
          }
          &:nth-child(2) {
            background-image: url("../../assets/img/banner/banner2.jpg");
          }
          &:nth-child(3) {
            background-image: url("../../assets/img/banner/banner3.jpg");
          }
        }
      }
    }
  }
  .embla__dots {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    position: absolute;
    bottom: 45px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    .embla__dot {
      /* 基础样式 */
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background-color: #800309;
      margin-right: 25px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
      &:last-child {
        margin-right: 0;
      }
    }

    .embla__dotActive {
      background-color: #fff;
    }
  }
  .content {
    width: 1440px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .logo {
      width: 380px;
      height: auto;
      margin-bottom: 140px;
      z-index: 1;
    }
    .btn {
      width: 220px;
      height: 46px;
      font-weight: 400;
      font-size: 18px;
      line-height: 46px;
      background-color: #800309;
      border-color: #800309;
      color: #fff;
      &:hover {
        background-color: #800309;
        border-color: #800309;
      }
    }
  }
  @media (max-width: 767px) {
    // height: calc(90vh - 90px);
    .content {
      width: 100%;
      padding: 130px 30px 0;
      box-sizing: border-box;
      justify-content: flex-start;
      .logo {
        width: 194px;
        margin-bottom: 40px;
      }
      .btn {
        width: 104px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
      }
    }
    .embla {
      .embla__viewport {
        .embla__container {
          .embla__slide {
            background-size: auto 100%;
            &:nth-child(2) {
              background-position: 30% center;
            }
          }
        }
      }
    }
    .embla__dots {
      bottom: 50px;
      .embla__dot {
        width: 13px;
        height: 13px;
        margin-right: 15px;
      }
    }
  }
}
